
.jumbotron{

background-color: gray;
color: black;
margin-top: 50px;

}

.card-auto{
 	flex: 1 200px;
 	margin-top: 10px;

}

.btn-mostrar{

	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;

}


.footer-address-icon{

	padding-right: 10px;
}

.img-principal{

	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.tab-content{
padding-top: 10px;

}

